<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.video.tubed">
        <category id="general" label="30028" help="">
            <group id="1" label="">

            </group>
            <group id="2" label="30047">
                <setting id="configure.regional" type="action" label="30052" help="30053">
                    <level>0</level>
                    <data>RunScript(plugin.video.tubed,mode=configure_regional)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="language" type="string" label="30048" help="30049">
                    <level>0</level>
                    <default>en-US</default>
                    <enable>false</enable>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30048</heading>
                    </control>
                </setting>
                <setting id="region" type="string" label="30050" help="30051">
                    <level>0</level>
                    <default>US</default>
                    <enable>false</enable>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30050</heading>
                    </control>
                </setting>
            </group>
        </category>
        <category id="playback" label="30045" help="">
            <group id="1" label="">
                <setting id="quality" type="integer" label="30029" help="30030">
                    <level>0</level>
                    <default>4</default>
                    <constraints>
                        <options>
                            <option label="30037">0</option>
                            <option label="30038">1</option>
                            <option label="30039">2</option>
                            <option label="30040">3</option>
                            <option label="30041">4</option>
                            <option label="30042">5</option>
                            <option label="30043">6</option>
                            <option label="30044">7</option>
                            <option label="30035">8</option>
                            <option label="30036">9</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="limit30" type="boolean" label="30031" help="30032">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="hdr" type="boolean" label="30033" help="30034">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="2" label="30058">
                <setting id="configure.subtitles" type="action" label="30054" help="30055">
                    <level>0</level>
                    <data>RunScript(plugin.video.tubed,mode=configure_subtitles)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="subtitle.language" type="integer" label="" help="">
                    <level>0</level>
                    <default>0</default>
                    <enable>true</enable>
                    <visible>false</visible>
                    <control type="edit" format="integer">
                        <heading></heading>
                    </control>
                </setting>
                <setting id="subtitle.label" type="string" label="30056" help="30057">
                    <level>0</level>
                    <default>None</default>
                    <enable>false</enable>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30056</heading>
                    </control>
                </setting>
            </group>
        </category>
        <category id="cache" label="30102" help="">
            <group id="1" label="30113">
                <setting id="cache.ttl.data" type="integer" label="30103" help="30115">
                    <level>0</level>
                    <default>4</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>8</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="cache.ttl.function" type="integer" label="30104" help="30116">
                    <level>0</level>
                    <default>7</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>30</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
            </group>
            <group id="2" label="30135">
                <setting id="cache.limit.data" type="integer" label="30136" help="30137">
                    <level>0</level>
                    <default>15</default>
                    <constraints>
                        <minimum>5</minimum>
                        <step>1</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
            </group>
            <group id="3" label="30114">
                <setting id="cache.clear.data" type="action" label="30105" help="30117">
                    <level>0</level>
                    <data>RunScript(plugin.video.tubed,mode=cache&amp;action=clear&amp;cache_type=data)</data>
                    <control type="button" format="action">
                        <close>false</close>
                    </control>
                </setting>
                <setting id="cache.clear.function" type="action" label="30106" help="30118">
                    <level>0</level>
                    <data>RunScript(plugin.video.tubed,mode=cache&amp;action=clear&amp;cache_type=function)</data>
                    <control type="button" format="action">
                        <close>false</close>
                    </control>
                </setting>
                <setting id="cache.delete.data" type="action" label="30109" help="30119">
                    <level>0</level>
                    <data>RunScript(plugin.video.tubed,mode=cache&amp;action=delete&amp;cache_type=data)</data>
                    <control type="button" format="action">
                        <close>false</close>
                    </control>
                </setting>
                <setting id="cache.delete.function" type="action" label="30110" help="30120">
                    <level>0</level>
                    <data>RunScript(plugin.video.tubed,mode=cache&amp;action=delete&amp;cache_type=function)</data>
                    <control type="button" format="action">
                        <close>false</close>
                    </control>
                </setting>
            </group>
        </category>
        <category id="debug" label="30125" help="">
            <group id="1" label="30126">
                <setting id="log.api.requests" type="boolean" label="30127" help="30128">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
